.card {
    &:hover, &:focus {
        .image {
            transform: translateY(var(--static-space-2));
        }
  
        .detail {
            transform: translateY(calc(-1 * var(--static-space-2)));
        }
  
        .icon {
            opacity: 1;
            transform: scale(1);
            visibility: visible;
        }
    }
  }
  
  @keyframes coverReveal {
    0% {
        opacity: 0;
        transform: perspective(1000px) rotateY(0) rotateX(0) scale(1.15);
    }
    100% {
        opacity: 1;
        transform: perspective(1000px) rotateY(-7deg) rotateX(2deg) scale(1.25);
    }
  }
  
  .cover {
    opacity: 0;
    animation: coverReveal 0.8s ease-out 2s forwards;
    mask-image: radial-gradient(circle at top center, black 30%, transparent 100%);
  }
  
  .image, .detail, .icon {
    transition: ease-in-out 0.2s all;
    transform: translateY(0);
  }
  
  .quickstart {
    padding-top: var(--static-space-24);
    transform: translateX(calc(-1 * var(--static-space-24)));
  }
  
  .icon {
    opacity: 0;
    transform: scale(0);
    visibility: hidden;
  }
  
  @media (--m) {
    .quickstart {
        padding-top: 0;
        transform: translateX(calc(-1 * var(--static-space-12))) translateY(calc(var(--static-space-12)));
        order: -1;
    }
  }
  
  @media (--s) {
    .quickstart {
        max-width: 20rem !important;
    }
  }